<div class="p-4">
  @if (agentService.agentResource.isLoading()) {
    <div class="loading-container">Loading</div>
  }
  @for (item of agentService.chat(); track item.id) {
    @if (item.role === 'USER') {
      <app-chat-bubble
        [name]="item.role"
        [date]="date"
        [message]="item.text"
        direction="right"
      />
    } @else if (item.role === 'AGENT') {
      <app-chat-bubble
        [name]="item.role"
        imgSrc="images/profile-ai.png"
        [date]="date"
        [message]="item.text"
        direction="left"
      />
    }
  }
</div>

<app-chat-input />
